.logoContainer {
  margin-top: 2.5rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2.5rem;
}

.logoContainer img {
  max-width: 100px;
}

/* RESPONSIVE */
@media screen and (max-width: 1400px) {
  .logoContainer {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .logoContainer {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}
