.button {
  background-color: var(--highlight);
  color: #ffffff;
  text-decoration: none;
  padding: 0.8rem;
  font-size: 0.8rem;
  transition: 0.2s ease-out;
}

.button.inverted {
  background-color: var(--primary);
}

.button:hover {
  background-color: var(--primary);
}

.button.inverted:hover {
  background-color: #000;
}

.chevron {
  margin-left: 4.5rem;
}
