.navbar {
  display: flex;
  align-items: center;
}

.navLogo {
  cursor: pointer;
  width: 60px;
}

.navMenu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 1rem;
  list-style-type: none;
  text-align: center;
  margin-left: auto;
}

.navLink {
  color: var(--primary);
  text-decoration: none;
  font-weight: bold;
  transition: 0.2s ease-out;
}

.navLink:hover {
  color: var(--highlight);
}

.navIcon {
  display: none;
}

@media screen and (max-width: 1300px) {
  .navbar {
    position: fixed;
    left: 0;
    top: 0;
    transform: translate(-100vw, 0, 0);
    width: 100vw;
    height: 100vh;
    transition: transform 0.3s cubic-bezier(0, 0.52, 0, 1);
  }

  .navIcon {
    display: inline-block;
  }
}
