.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  margin-top: 8rem;
}

img {
  max-width: 400px;
  width: 100%;
  height: auto;
}

.logo {
  font-weight: 400;
}

.logo--highlight {
  font-weight: 700;
  font-size: 1.3em;
}

.heroText {
  margin: 2rem 0 2rem 0;
}

.heroText--highlight {
  color: var(--highlight);
}

.description {
  margin: 3rem 0 3rem 0;
}

.ctaDescription {
  margin: 2.5rem 0 0.5rem 0;
}

.imgContainer {
  display: flex;
  justify-content: center;
  align-self: center;
}

/* RESPONSIVE */
@media screen and (max-width: 1100px) {
  .container {
    grid-template-columns: 1fr;
    margin-top: 4rem;
  }
}
