h2 {
  margin-bottom: 1.2rem;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.imgContainer {
  display: flex;
  justify-content: center;
  align-self: center;
}

.imgContainer img {
  max-width: 250px;
}

/* RESPONSIVE */
@media screen and (max-width: 1100px) {
  .imgContainer {
    /* This is just to configure the second textImage module to have text followed by image when vertical
    
    */
    order: 10;
  }
}
